<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>Puppy Name: <%= @name %></h2>
      <h2>Puppy Breed: <%= @breed %></h2>
      <h2>Puppy Age: <%= @age %></h2>
      <!-- <p>Puppy Name: <%= params[:name] %></p>
      <p>Puppy Breed: <%= params[:breed] %></p>
      <p>Puppy Age: <%= params[:age] %></p> -->
      <form method="POST" action="/">
        <input type="submit" id="Submit" value="return to home">
      </form>
  </body>
</html>
