<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body> -->
      <!-- <h2>Puppy Name:
<%= @name %></h2>
      <h2>Puppy Breed: <%= @breed %></h2>
      <h2>Puppy Age: <%= @age %></h2> -->
      <!-- Puppy Name: <%= params[:name] %>
      Puppy Breed: <%= params[:breed] %>
      Puppy Age: <%= params[:age] %>
      <form method="GET" action="/">
        <input type="submit" id="Submit" value="return to home">
      </form>
  </body>
</html> -->

<!DOCTYPE html>
<html>
 <head>
  <title>Puppies For Adoption</title>
 </head>
 <body>
   <h2>Puppy Name: <%= @name %></h2>
   <h2>Puppy Breed: <%= @breed %></h2>
   <h2>Puppy Age: <%= @age %></h2>
 </body>
</html>
