<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <form method="GET" action="/"> -->
      <h2>Puppy Name: <%= @name %></h2>
      <h2>Puppy Breed: <%= @breed %></h2>
      <h2>Puppy Age: <%= @age %></h2>
      <!-- <p>Puppy Name: <%= params[:name] %></p>
      <p>Puppy Breed: <%= params[:breed] %></p>
      <p>Puppy Age: <%= params[:age] %></p> -->
      <!-- <input type="submit" id="submit" value="submit">
    </form> -->

    <!-- <form method="POST" action="/new">
      <p>Add Another Puppy</p>
      <p>Puppy Name: <input type="text" id="name" name="name"></p>
      <p>Puppy Breed: <input type="text" id="breed" name="breed"></p>
      <p>Puppy Age: <input type="text" id="age" name="age"></p>
      <input type="submit" id="submit" value="submit">
    </form> -->
  </body>
</html>
